@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #edc525;
}

.container {
    width: 25rem;
    border-radius: .4rem;
    background: #fff;
}

.container header {
    color: #4d96ff;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

header i {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
}

.container .input-area {
    display: none;
    margin: 1.25rem 1.6rem 1.9rem;
}

.input-area .info-area {
    display: none;
    text-align: center;
    padding: .7rem .55rem;
    border-radius: .4rem;
}

.info-area.error {
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info-area.pending {
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input-area :where(input, button) {
    width: 100%;
    height: 3.4rem;
    border: none;
    outline: none;
}

.input-area input {
    text-align: center;
    margin-top: 1.6rem;
}

.input-area .separator {
    height: 1px;
    width: 100%;
    margin: 1.6rem 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #ccc;
    font-size: 1.3rem;
    padding: 0 1rem .2rem;
    background: #fff;
}

.input-area button {
    color: #fff;
    cursor: pointer;
    background: #4d96ff;
}